.container_under_slideshow {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.left_container {
  h1 {
    color: rgba(255, 96, 96, 1);
    font-weight: normal;
  }

  p {
    margin-top: -10px;
  }
}

.right_container {
  display: flex;
  justify-content: space-between;

  p {
    color: rgba(255, 96, 96, 1);
    margin-right: 10px;
    font-size: 18px;
    font-family: "Montserrat";
  }

  img {
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    width: 100px;
    height: 100px;
  }
}

.container_tags_stars {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

.tags {
  span {
    padding: 5px 20px;
    background-color: rgba(255, 96, 96, 1);
    color: white;
    border-radius: 30px;
    font-size: 14px;
    margin-right: 10px;
    font-family: "Montserrat";
    font-weight: bold;
  }
}
.stars {
  svg {
    margin-left: 10px;
    font-size: 17px;
  }
}

.desc_equip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

footer {
  margin-top: 60px;
}

.equipements {
  display: block;
}

.logement-collapse {
  background-color: rgba(255, 96, 96, 1);
  color: white;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-radius: 5px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: "Montserrat";
}

.desc_equip content {
  transition: height 0.03s ease;
  overflow: hidden;
  background-color: rgba(255, 96, 96, 1);
}

.left_container {
  font-family: "Montserrat";
}

@media screen and (max-width: 767.999px) {
  .desc_equip {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .container_tags_stars {
    display: flex;
    flex-direction: column;
  }

  .stars {
    margin-top: 30px;
  }

  .right_container {
    img {
      order: 1;
    }
  }
}
