.container_under_slideshow {
  display: flex;
  justify-content: space-between;
}

.left_container {
  h1 {
    color: red;
  }
}

.right_container {
  display: flex;
  justify-content: space-between;

  p {
    color: red;
  }

  img {
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    width: 100px;
    height: 100px;
  }
}

.container_tags_stars {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.tags {
  span {
    padding: 5px 10px;
    background-color: #ff6060;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    margin-right: 10px;
  }
}

.desc_equip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.details {
  margin-left: 0px;
  margin-right: 0px;

  .content {
    transition: height 0.03s ease;
    overflow: hidden;
    background-color: rgb(255, 245, 245);
  }
}

footer {
  margin-top: 60px;
}

.equipements {
  display: block;
}
